{% extends 'base.html' %}
{% block content %}
      <div class="container">
       <div class="col-md-12">
         <br><br><br><br>
         <h1 class="titulo">Monitorización (Próximamente)</h1>
         <hr>
         <div id="map"></div>
       </div>
     </div>

     <script>
       function initMap() {
         // The location of Uluru
         var uluru = {lat: -25.344, lng: 131.036};
         // The map, centered at Uluru
         var map = new google.maps.Map(
             document.getElementById('map'), {zoom: 4, center: uluru});
         // The marker, positioned at Uluru
         var marker = new google.maps.Marker({position: uluru, map: map});
       }
     </script>
       <!-- Google Maps API -->
     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmX8bFwZOjk5ZnH68cWd64eJ1G0SXVG8s&callback=initMap">
     </script>
   </body>
 </html>
{% endblock %}
