{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="col-md-12">
      <br><br><br><br>
      <h1 class="titulo">Editar usuario.</h1>
      <hr>
      <form name="" id="" action="" method="POST" enctype="multipart/form-data" data-toggle="validator" role="form">
        <div class="form-group">
          <img class="img_perfil" src="data:image/png;base64, {{rows[0][3]}}" alt="Imagen de perfil" />
        </div>
        <div class="form-group">
           <label for="id">Usuario</label>
           <input name="nombre" type="text" class="form-control" value="{{rows[0][1]}}" autocomplete="off" required/>
        </div>
        <div class="form-group">
           <label for="id">Email</label>
           <input name="email" type="text" class="form-control" value="{{rows[0][0]}}" autocomplete="off" required/>
        </div>

         <!-- BOTONES -->
         <div class="row">
            <div class="col-md-12">
               <div class="col-md-6">
                  <div class="form-group">
                     <input value="Cancelar" class="btn btn-danger" id="btn_add_mision" autocomplete="off" onclick="irUsuarios()"/>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <input value="Aceptar" class="btn btn-success" id="btn_add_historia" autocomplete="off" onclick="actualizarUsuarios()"/>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<script type="text/javascript">
      $( document ).ready(function(){
        correo = "{{rows[0][0]}}"
        nombre = "{{rows[0][1]}}"
      });

      function irUsuarios(){
        window.location.href = "/usuarios";
      }

      function actualizarUsuarios(){
        var emailNuevo = document.getElementsByName("email")[0].value;
        var nombreNuevo = document.getElementsByName("nombre")[0].value;

        console.log(emailNuevo);
        console.log(correo);

        if(nombre == nombreNuevo){
          console.log("NO ha cambiado el nombre");
        }else{
          console.log("Sí ha cambiado el nombre");
          $.ajax({
           url: "/rest/update_nombre/usuario",
           type: 'POST',
           data: {correo, nombreNuevo}
         });
        }

        if(correo == emailNuevo){
          console.log("NO ha cambiado el email");
        }else{
          console.log("Sí ha cambiado el email");
          $.ajax({
           url: "/rest/update_mail/usuario",
           type: 'POST',
           data: {correo, emailNuevo}
         });
        }

        setTimeout(function() {
          window.location.href = "/usuarios";
        }, 1000);

      }
 </script>
</body>
</html>
{% endblock %}
