{% extends 'base.html' %}
{% block content %}
      <div class="container">
         <div class="col-md-12">
            <br><br><br><br>
            <h1 class="titulo">Tabla de misiones.</h1>
            <hr>
            <table border = 1 class="table table-striped">
               <thead>
                  <td>id</td>
                  <td>id_historia</td>
                  <td>nombre_mision</td>
                  <td>icono_mision</td>
                  <td>latitud_mision</td>
                  <td>longitud_mision</td>
                  <td>tipo_localizacion</td>
                  <td>codigo_localizacion</td>
                  <td>tipo_prueba</td>
                  <td>codigo_prueba</td>
                  <td>descripcion_inicial</td>
                  <td>imagen_inicial</td>
                  <td>descripcion_final</td>
                  <td>imagen_final</td>
                  <td>resumen</td>
                  <td>precedentes</td>
                  <td>misiones_a_cancelar</td>
                  <td>final</td>
               </thead>

               {% for row in rows %}
                  <tr>
                     <td>{{row["id"]}}</td>
                     <td>{{row["id_historia"]}}</td>
                     <td>{{row["nombre_mision"]}}</td>
                     <td><img class="img_perfil" src="data:image/png;base64, {{row["icono_mision"]}}" alt="Imagen de mision" /></td>
                     <td>{{row["latitud_mision"]}}</td>
                     <td>{{row["longitud_mision"]}}</td>
                     <td>{{row["tipo_localizacion"]}}</td>
                     <td>{{row["codigo_localizacion"]}}</td>
                     <td>{{row["tipo_prueba"]}}</td>
                     <td>{{row["codigo_prueba"]}}</td>
                     <td>{{row["descripcion_inicial"]}}</td>
                     <td><img class="img_perfil" src="data:image/png;base64, {{row["imagen_inicial"]}}" alt="Imagen de mision inicial" /></td>
                     <td>{{row["descripcion_final"]}}</td>
                     <td><img class="img_perfil" src="data:image/png;base64, {{row["imagen_final"]}}" alt="Imagen de mision final" /></td>
                     <td>{{row["resumen"]}}</td>
                     <td>{{row["precedentes"]}}</td>
                     <td>{{row["misiones_a_cancelar"]}}</td>
                     <td>{{row["final"]}}</td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>

      <script type="text/javascript" href="{{ url_for('static', filename='js/jquery.js') }}"></script>
   </body>
 </html>
 {% endblock %}
