{% extends 'base.html' %}
{% block content %}
      <div class="container">
         <div class="col-md-12">
            <br><br><br><br>
            <h1 class="titulo">Tabla de preguntas.</h1>
            <hr>
            <table border = 1 class="table table-striped">
               <thead>
                  <td>id</td>
                  <td>codigo_prueba_mision</td>
                  <td>enunciado</td>
                  <td>respues_correcta</td>
                  <td>respues_incorrecta_1</td>
                  <td>respues_incorrecta_2</td>
                  <td>respues_incorrecta_3</td>
               </thead>

               {% for row in rows %}
                  <tr>
                     <td>{{row["id"]}}</td>
                     <td>{{row["codigo_prueba_mision"]}}</td>
                     <td> {{ row["enunciado"]}}</td>
                     <td> {{ row["respues_correcta"]}}</td>
                     <td>{{row['respues_incorrecta_1']}}</td>
                     <td>{{row['respues_incorrecta_2']}}</td>
                     <td>{{row['respues_incorrecta_3']}}</td>
                  </tr>
               {% endfor %}
            </table>
      </div>
   </div>

   <script type="text/javascript" href="{{ url_for('static', filename='js/jquery.js') }}"></script>
 </body>
 </html>
 {% endblock %}
