{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="col-md-12">
      <br><br><br><br>
      <h1 class="titulo">Nueva historia</h1>
      <hr>
      <!--Historia -->
      <form name="nueva_historia_form" id="nueva_historia_form" action="/rest/historia/1" method="POST" enctype="multipart/form-data">
         <div class="form-group">
            <label for="id">Nombre de la historia</label>
            <input name="nombre_historia" type="text" class="form-control" value="" autocomplete="off" placeholder="Introduzca nombre de la historia" />
         </div>
         <div class="form-group">
            <label for="id">Idioma de la historia</label>
            <select name="idioma_historia">
               <option value="es">Español</option>
               <option value="en">Inglés</option>
            </select>
         </div>
         <div class="form-group">
            <label for="id">Imagen de título</label>
            <input name="imagen_historia" type="file" accept=".jpg,.png" class="form-control" value="" autocomplete="off" placeholder="Añada imagen de título" />
         </div>
         <div class="form-group">
            <label for="id">Latitud inicial</label>
            <input name="latitud_historia" type="number" step="any" class="form-control" value="37.1707751" placeholder="Introduzca la latitud inicial" />
         </div>
         <div class="form-group">
            <label for="id">Longitud inicial</label>
            <input name="longitud_historia" type="number" step="any" class="form-control" value="-3.607208" placeholder="Introduzca la longitud inicial" />
         </div>
         <div class="form-group">
            <label for="id">Zoom de la cámara</label>
            <input name="zoom" type="text" class="form-control" value="15" autocomplete="off" placeholder="Introduzca el zoom inicial" />
         </div>
         <div class="form-group">
            <label for="id">Descripción de la historia</label>
            <input name="descripcion_historia" type="text" class="form-control" value="" autocomplete="off" placeholder="Introduzca la descripción de la historia" />
         </div>
         <br>
         <hr>
         <!-- Misiones -->
         <div id="div_misiones">
         </div>
         <!-- BOTONES -->
         <div class="row">
            <div class="col-md-12">
               <div class="col-md-6">
                  <div class="form-group">
                     <input value="Nueva misión" class="btn btn-success" id="btn_add_mision" autocomplete="off"/>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <input value="Crear historia" type="submit" class="btn btn-primary" id="btn_add_historia" autocomplete="off"/>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<!-- FINAL -->
<script>
   var num = 0;
   var HISTORIA_REST_URL = "/rest/historia";

   $( document ).ready(function(){
     nueva_mision();
   });

   $('input#btn_add_mision').on('click', nueva_mision);

    function nueva_mision() {
      num= num + 1;

      //Div contenedor
      var para = document.createElement("div");
      para.setAttribute("id", "form_mision_" + num);
      var element = document.getElementById("div_misiones");
      element.appendChild(para);

      //Titulo mision
      document.getElementById("form_mision_"+num).innerHTML = '<h1 class="titulo">Misión #' + num + '</h1>';

      //Nombre de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Nombre de la misión</label><input id="nombre_mision_' + num + '" name="nombre_mision_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca nombre de la misión" /></div>';

      //Icono de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Icono</label><input id="icono_mision_' + num + '" name="icono_mision_' + num + '" type="file" accept=".jpg,.png" class="form-control" value="" placeholder="Introduzca el icono" /></div>';

      //Latitud de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Latitud</label><input id="latitud_mision_' + num + '" name="latitud_mision_' + num + '" type="number" step="any" maxlength=10 class="form-control" value="37.171848829416604" placeholder="Introduzca la latitud" /></div>';

      //Longitud de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Longitud</label><input id="longitud_mision_' + num + '" name="longitud_mision_' + num + '" type="number" step="any" maxlength=10 class="form-control" value="-3.607918605539055" placeholder="Introduzca la longitud" /></div>';

      //Localizacion
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Tipo de localización &nbsp;&nbsp;</label><select name="tipo_localizacion_' + num + '"><option value="qr">Código QR</option><option value="beacon">Beacon</option></select></div>'

      //Codigo de localización
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Código de localización</label><input id="codigo_localizacion_' + num + '" name="codigo_localizacion_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca el código de la localización" /></div>';

      //Tipo de prueba
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Tipo de prueba &nbsp;&nbsp;</label><select id="tipo_prueba_' + num + '" name="tipo_prueba_' + num + '"><option value="qr">Código QR</option><option value="pregunta">Pregunta</option></select></div>'

      //Código de la prueba
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Código de prueba</label><input id="codigo_prueba_' + num + '" name="codigo_prueba_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca el código de la prueba" /></div>';

      //Aquí irán las preguntas
      document.getElementById("form_mision_"+num).innerHTML += '<div id="div_tipo_prueba_' + num + '"></div>';

      //Descripcion inicial
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Descipción inicial</label><input id="descripcion_inicial_' + num + '" name="descripcion_inicial_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca la descripción inicial" /></div>';

      //Imagen inicial
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Imagen inicial</label><input id="imagen_inicial_' + num + '" name="imagen_inicial_' + num + '" type="file" accept=".jpg,.png" class="form-control" value="" placeholder="Introduzca la imagen inicial" /></div>';

      //Descipción final
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Descipción final</label><input id="descripcion_final_' + num + '" name="descripcion_final_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca la descripción final" /></div>';

      //Imagen final
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Imagen final</label><input id="imagen_final_' + num + '" name="imagen_final_' + num + '" type="file" accept=".jpg,.png" class="form-control" value="" placeholder="Introduzca la imagen final" /></div>';

      //Resumen
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Resumen</label><input id="resumen_' + num + '" name="resumen_' + num + '" type="text" class="form-control" value="" placeholder="Resumen" /></div>';

      //Precedentes
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Precedentes</label><input id="precedentes_' + num + '" name="precedentes_' + num + '" type="text" class="form-control" value="" placeholder="Precedentes" /></div>';

      //Final
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Misión final &nbsp;&nbsp;</label><select name="prueba' + num + '"><option value="0">False</option><option value="1">True</option></select></div>'

      //Separacion final
      document.getElementById("form_mision_"+num).innerHTML += '<br><hr>';

      $('#nueva_historia_form').attr("action", "/rest/historia/"+num);

      console.log("tipo_prueba_" + num);
      var activities = document.getElementById("tipo_prueba_" + num);
      activities.addEventListener("change", function() {
        console.log(activities.id);
        if(activities.value == "qr"){
          document.getElementById("codigo_prueba_" + num).disabled = false;
          var element = document.getElementById("form_pregunta_" + num);
          element.parentNode.removeChild(element);
        }else{
          document.getElementById("codigo_prueba_" + num).disabled = true;
          //Div contenedor
          var para = document.createElement("div");
          para.setAttribute("id", "form_pregunta_" + num);
          var element = document.getElementById("div_"+activities.id);
          element.appendChild(para);

          //Enunciado de la pregunta
          document.getElementById("form_pregunta_" + num).innerHTML += '<div class="form-group"><label for="id">Enunciado de la pregunta</label><input id="enunciado_' + num + '" name="enunciado_' + num + '" type="text" class="form-control" value="soy el enunciado" placeholder="Introduzca el enunciado de la pregunta" /></div>';

          //Respuesta correcta de la pregunta
          document.getElementById("form_pregunta_" + num).innerHTML += '<div class="form-group"><label for="id">Respuesta correcta de la pregunta</label><input id="respues_correcta_' + num + '" name="respues_correcta_' + num + '" type="text" class="form-control" value="soy correcta" placeholder="Introduzca la respuesta correcta de la pregunta" /></div>';

          //Respuesta incorrecta 1
          document.getElementById("form_pregunta_" + num).innerHTML += '<div class="form-group"><label for="id">Respuesta incorrecta 1 de la pregunta</label><input id="respues_incorrecta_1_' + num + '" name="respues_incorrecta_1_' + num + '" type="text" class="form-control" value="soy el fallo 1" placeholder="Introduzca la respuesta incorrecta 1 de la pregunta" /></div>';

          //Respuesta incorrecta 2
          document.getElementById("form_pregunta_" + num).innerHTML += '<div class="form-group"><label for="id">Respuesta incorrecta 2 de la pregunta</label><input id="respues_incorrecta_2_' + num + '" name="respues_incorrecta_2_' + num + '" type="text" class="form-control" value="soy el fallo 2" placeholder="Introduzca la respuesta incorrecta 2 de la pregunta" /></div>';

          //Respuesta incorrecta 3
          document.getElementById("form_pregunta_" + num).innerHTML += '<div class="form-group"><label for="id">Respuesta incorrecta 3 de la pregunta</label><input id="respues_incorrecta_3_' + num + '" name="respues_incorrecta_3_' + num + '" type="text" class="form-control" value="soy el fallo 3" placeholder="Introduzca la respuesta incorrecta 3 de la pregunta" /></div>';
        }
      });
    }
</script>
</body>
</html>
{% endblock %}
