{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="col-md-12">
      <br><br><br><br>
      <h1 class="titulo">Nueva historia</h1>
      <hr>
      <!--Historia -->
      <form name="nueva_historia_form" id="nueva_historia_form" action="/rest/historia/1" method="POST" enctype="multipart/form-data">
         <div class="form-group">
            <label for="id">Nombre de la historia</label>
            <input name="nombre_historia" type="text" class="form-control" value="" autocomplete="off" placeholder="Introduzca nombre de la historia" />
         </div>
         <div class="form-group">
            <label for="id">Idioma de la historia</label>
            <select name="idioma_historia">
               <option value="es">Español</option>
               <option value="en">Inglés</option>
            </select>
         </div>
         <div class="form-group">
            <label for="id">Imagen de título</label>
            <input name="imagen_historia" type="file" accept=".jpg,.png" class="form-control" value="" autocomplete="off" placeholder="Añada imagen de título" />
         </div>
         <div class="form-group">
            <label for="id">Latitud inicial</label>
            <input name="latitud_historia" type="number" step="0.0001" class="form-control" value="37.1707751" placeholder="Introduzca la latitud inicial" />
         </div>
         <div class="form-group">
            <label for="id">Longitud inicial</label>
            <input name="longitud_historia" type="number" step="0.0001" class="form-control" value="-3.607208" placeholder="Introduzca la longitud inicial" />
         </div>
         <div class="form-group">
            <label for="id">Zoom de la cámara</label>
            <input name="zoom" type="text" class="form-control" value="15" autocomplete="off" placeholder="Introduzca el zoom inicial" />
         </div>
         <div class="form-group">
            <label for="id">Descripción de la historia</label>
            <input name="descripcion_historia" type="text" class="form-control" value="" autocomplete="off" placeholder="Introduzca la descripción de la historia" />
         </div>
         <br>
         <hr>
         <!-- Misiones -->
         <div id="div_misiones">
         </div>
         <!-- BOTONES -->
         <div class="row">
            <div class="col-md-12">
               <div class="col-md-6">
                  <div class="form-group">
                     <input value="Nueva misión" class="btn btn-success" id="btn_add_mision" autocomplete="off"/>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <input value="Crear historia" type="submit" class="btn btn-primary" id="btn_add_historia" autocomplete="off"/>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<!-- FINAL -->
<script>
   var num = 0;
   var HISTORIA_REST_URL = "/rest/historia";

   $( document ).ready(function(){
     nueva_mision();
   });

   $('input#btn_add_mision').on('click', nueva_mision);

    function nueva_mision() {
      num= num + 1;

      //Div contenedor
      var para = document.createElement("div");
      para.setAttribute("id", "form_mision_" + num);
      var element = document.getElementById("div_misiones");
      element.appendChild(para);

      //Titulo mision
      document.getElementById("form_mision_"+num).innerHTML = '<h1 class="titulo">Misión #' + num + '</h1>';

      //Nombre de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Nombre de la misión</label><input id="nombre_mision_' + num + '" name="nombre_mision_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca nombre de la misión" /></div>';

      //Icono de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Icono</label><input id="icono_mision_' + num + '" name="icono_mision_' + num + '" type="file" accept=".jpg,.png" class="form-control" value="" placeholder="Introduzca el icono" /></div>';

      //Latitud de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Latitud</label><input id="latitud_mision_' + num + '" name="latitud_mision_' + num + '" type="number" step="0.0001" class="form-control" value="37.197" placeholder="Introduzca la latitud" /></div>';

      //Longitud de la mision
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Longitud</label><input id="longitud_mision_' + num + '" name="longitud_mision_' + num + '" type="number" step="0.0001" class="form-control" value="-3.62" placeholder="Introduzca la longitud" /></div>';

      //Localizacion
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Tipo de localización</label><select name="tipo_localizacion"><option value="qr">Código QR</option><option value="beacon">Beacon</option></select></div>'

      //Codigo de localización
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Código de localización</label><input id="codigo_localizacion_' + num + '" name="codigo_localizacion_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca el código de la localización" /></div>';

      //Tipo de prueba
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Tipo de prueba</label><select name="tipo_prueba"><option value="qr">Código QR</option><option value="pregunta">Pregunta</option></select></div>'

      //Código de la prueba
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Código de prueba</label><input id="codigo_prueba_' + num + '" name="codigo_prueba_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca el código de la prueba" /></div>';

      //Descripcion inicial
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Descipción inicial</label><input id="descripcion_inicial_' + num + '" name="descripcion_inicial_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca la descripción inicial" /></div>';

      //Imagen inicial
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Imagen inicial</label><input id="imagen_inicial_' + num + '" name="imagen_inicial_' + num + '" type="file" accept=".jpg,.png" class="form-control" value="" placeholder="Introduzca la imagen inicial" /></div>';

      //Descipción final
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Descipción final</label><input id="descripcion_final_' + num + '" name="descripcion_final_' + num + '" type="text" class="form-control" value="" placeholder="Introduzca la descripción final" /></div>';

      //Imagen final
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Imagen inicial</label><input id="imagen_inicial_' + num + '" name="imagen_inicial_' + num + '" type="file" accept=".jpg,.png" class="form-control" value="" placeholder="Introduzca la imagen final" /></div>';

      //Resumen
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Resumen</label><input id="resumen_' + num + '" name="resumen_' + num + '" type="text" class="form-control" value="" placeholder="Resumen" /></div>';

      //Precedentes
      document.getElementById("form_mision_"+num).innerHTML += '<div class="form-group"><label for="id">Precedentes</label><input id="precedentes_' + num + '" name="precedentes_' + num + '" type="text" class="form-control" value="" placeholder="Precedentes" /></div>';

      //Separacion final
      document.getElementById("form_mision_"+num).innerHTML += '<br><hr>';

      $('#nueva_historia_form').attr("action", "/rest/historia/"+num);
    }
</script>
</body>
</html>
{% endblock %}
