{% extends 'base.html' %}
{% block content %}
    <div class="container">
       <div class="col-md-12">
          <br><br><br><br>
          <h1 class="titulo">Rutas implementadas.</h1>
          <hr>
          <div class="row">
             <div class="col-md-8 col-md-offset-2">
                <div class="well well-lg">
                   <a class="cla_a" href="/nueva_historia">Crear historia</a>
                   <br><br>
                   <a class="cla_a" href="/rest/list/historia">Tabla de historas</a>
                   <br><br>
                   <a class="cla_a" href="/rest/list/mision">Tabla de misiones</a>
                   <br><br>
                   <a class="cla_a" href="/rest/list/pregunta">Tabla de preguntas</a>
                   <br><br>
                   <a class="cla_a" href="/rest/list/usuario">Tabla de usuarios</a>
                   <br><br>
                   <a class="cla_a" href="/rest/list/sesion">Tabla de sesiones</a>
                   <br><br>
                   <a class="cla_a" href="/rest/list/completado">Tabla de misiones completadas</a>
                   <br><br>
                   <a class="cla_a" href="/historias">Editar historias</a>
                   <br><br>
                   <a class="cla_a" href="/usuarios">Usuarios</a>
                   <br><br>
                   <a class="cla_a" href="/monitorizacion">Monitorización</a>
                   <br><br>
                   <a class="cla_a" href="/rest/status">Status</a>
                </div>
             </div>
          </div>
       </div>
    </div>

     <script type="text/javascript" href="{{ url_for('static', filename='js/jquery.js') }}"></script>
  </body>
</html>
{% endblock %}
