<div id="div_mision_1">
  <h2>Misión #1</h2>

<div class="form-group"><label for="id">Nombre de la misión</label><input id="nombre_mision_1" name="nombre_mision_1" type="text" class="form-control" value="" placeholder="Introduzca nombre de la misión" /></div>
  <div class="form-group">
     <label for="id">Icono</label>
     <input id="icono_mision_1" name="icono_mision_1" type="text" class="form-control" value="" placeholder="Introduzca el icono" />
  </div>
  <div class="form-group">
     <label for="id">Latitud</label>
     <input id="latitud_mision_1" name="latitud_mision_1" type="number" step="0.0001" class="form-control" value="37.197" placeholder="Introduzca la latitud" />
  </div>
  <div class="form-group">
     <label for="id">Longitud</label>
     <input id="longitud_mision_1" name="longitud_mision_1" type="number" step="0.0001" class="form-control" value="-3.62" placeholder="Introduzca la longitud" />
  </div>
  <div class="form-group">
     <label for="id">Tipo</label>
     <input id="tipo_mision_1" name="tipo_mision_1" type="text" class="form-control" value="" placeholder="Introduzca el tipo de interacción" />
  </div>
  <div class="form-group">
     <label for="id">Código de tipo</label>
     <input id="codigo_tipo_mision_1" name="codigo_tipo_mision_1" type="text" class="form-control" value="" placeholder="Introduzca el código de la interacción" />
  </div>
  <div class="form-group">
     <label for="id">Precedentes</label>
     <input id="precedentes_mision_1" name="precedentes_mision_1" type="text" class="form-control" value="" placeholder="Introduzca las misiones precedentes" />
  </div>
  <div class="form-group">
     <label for="id">Pista de audio</label>
     <input id="audio_mision_1" name="audio_mision_1" type="text" class="form-control" value="" placeholder="Introduzca la pista de audio" />
  </div>
  <div class="form-group">
     <label for="id">Descripción</label>
     <input id="descripcion_mision_1" name="descripcion_mision_1" type="text" class="form-control" value="" placeholder="Introduzca la descripción de la misión" />
  </div>

  <br>
  <hr>
</div>


//var para = document.createElement("h2");
//para.setAttribute("id", "header_mision_"+num);
//var node = document.createTextNode("Misión #"+num);
//para.appendChild(node);
//var element = document.getElementById("div_mision_"+num);
//element.appendChild(para);
